<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mybookserviceapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mybookserviceapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MyBookServiceAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MyBookServiceAPI</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:bookservicedb1.database.windows.net,1433;Initial Catalog=MyBookServiceAPI_db;User ID=mstadler@bookservicedb1;Password=Blade1532" Name="Data Source=tcp:bookservicedb1.database.windows.net,1433;Initial Catalog=MyBookServiceAPI_db;User Id=mstadler@bookservicedb1;Password=Blade1532" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Web_API_2.Models.ApplicationDbContext, Web_API_2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Web_API_2Context" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:bookservicedb1.database.windows.net,1433;Initial Catalog=MyBookServiceAPI_db;User ID=mstadler@bookservicedb1;Password=Blade1532" Name="Data Source=tcp:bookservicedb1.database.windows.net,1433;Initial Catalog=MyBookServiceAPI_db;User Id=mstadler@bookservicedb1;Password=Blade1532" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Web_API_2.Models.Web_API_2Context, Web_API_2" MigrationConfiguration="Web_API_2.Migrations.Configuration, Web_API_2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:bookservicedb1.database.windows.net,1433;Initial Catalog=MyBookServiceAPI_db;User Id=mstadler@bookservicedb1;Password=Blade1532</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Web_API_2Context-Web.config Connection String">
      <ParameterValue>Data Source=tcp:bookservicedb1.database.windows.net,1433;Initial Catalog=MyBookServiceAPI_db;User Id=mstadler@bookservicedb1;Password=Blade1532</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>